<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <base href="/hello_cruel_world">
    <link rel="stylesheet" href="/templates/assets/style.css" />
    <title>{% block title %}{% endblock %} - Hey there</title>
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <img src="templates/assets/img_1.jpg" id="img_center">
    <div id="footer">
        <p>Submit your email to be the first !</p>
        <ul>
            <li><a href='/about'>About</a></li>
            <li>Privacy policy</li>
            <li><a href='/contact'>Contact us</a></li>

        </ul>

    </div>

</body>
</html>