{% extends "base.html.twig" %}
{% block title %} Contact me! {% endblock %}
{% block content %}
    {% if flag %}
        <h3>Thanks!</h3>
    {%else%}
        <h3>Feel free to leave your email here!</h3>
    {% endif %}
{#
    <?php
    $emailRecorded = false;

    if (isset($_POST['emaily'])) {
        $emailRecorded = true;

    }
    ?>
    <?php if ($emailRecorded) { ?>
        <h3>Thanks!</h3>
        <?php $title='Thank you!' ?>
    <?php }?>
#}

    <form method="post" action="/contactform-submit">
        <input type="text" name="emaily" placeholder="Your email here">
        <input type="submit" value="Submit!">
    </form>
{% endblock %}
